.intro{
    background-image: url(assests/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    height: 90%;
}
nav a{
    font-size: x-large;
    padding: 10px;
    color: aliceblue;
}
.second{
    border: 2px;
    text-align: center;
    display: block;
}
.third{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    padding: 50px;
}
.tablee{
    width: 100%; 
    table-layout: fixed; 
    border-collapse: collapse;
    text-align: center;
    font-size: large;
    color: aliceblue;
}
.cntct{
    background-image: url(assests/contact-details-map.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.last{
    background-color: rgb(24, 23, 23);
    text-align: center;
    justify-content: center;
    color: aliceblue;
}